---
name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
            submodules: true
      - uses: asdf-vm/actions/install@v4
      - run: make sync
      - run: make pre-commit
      - run: make blog_pb2.py
      - run: uv run python books.py --help